body {
  background-color: #EDECFE;
  font-family: Leckerli One;
  padding-top: 70px;
}


#nav {
  background-color: #FFFDDE;
}

#nav .navbar-brand {
  color: black;
  font-size: 1.5rem;
}

.navbar-nav {
  background-color: #8AECCF;
  margin: -1px;
}

#album {
  background-color: #EDECFE;
}

#genres-navbar {
  padding-top: 1em;
}

#search-btn {
  color: #8AECCF;
  border: 1px solid #8AECCF;
}

#search-btn:hover {
  background-color: #F88BB4ff;
  color: #FF4981ff;
  border: 1px solid #FF4981ff;
}




#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width:18rem;
}

.img-fluid {
  width: 300px;
}



