body {
    background-color: #EDECFE;
    font-family: Leckerli One;
    padding-top: 70px;
}

#nav {
    background-color: #FFFDDE;
}

#nav .navbar-brand {
    color: black;
    font-size: 1.5rem;
}
.navbar-nav{
  background-color: #8AECCF;
  margin:-1px;
}